Hello Contributor to {{ project.name }}!

You are getting this mail, because you are a contributor of {{ project.name }},
which now wants to switch its open-source license using the License Switcher project
from current <a href="{{ project.fromLicense.url }}" target="_blank">{{ project.fromLicense.name }}</a> to
new license <a href="{{ project.toLicense.url }}" target="_blank">{{ project.toLicense.name }}.</a>

Please visit the following link where you can approve or disapprove the
change of license for your contributed code:

{{ link }}

Message of the project maintainer(s):

{{ project.emailMessage }}

---------------------------
License Switcher Project is developed by Qafoo
http://licenses.qafoo.com/imprint
