{% extends "DoctrineLicenseManagerBundle::layout.html.twig" %}

{% block content %}
{{ parent() }}

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>License</th>
        <th>Confirmed %</th>
    </tr>
{% for data in projects %}
    <tr>
        <td><a href="{{ path('licenses_project_view', {'id': data.project.id} ) }}">{{ data.project.name }}</a></td>
        <td><a href="{{ data.project.fromLicense.url }}" target="_blank">{{ data.project.fromLicense.name }}</td>
        <td><span data-name="{{ data.project.name }}" class="app-approve">{{ data.ratio }}</span>%</td>
        {% if app.security.isGranted('ROLE_ADMIN') %}
        <td>
            {% if data.project.confirmed() %}
            <a class="btn btn-success" href="{{ path('licenses_project_request', {'id': data.project.id}) }}">Send Mails</a>
            {% else %}
            <form method="post" action="{{ path('licenses_project_approve', {'id': data.project.id}) }}">
                <button class="btn btn-primary" href="#">Approve Project</button>
            </form>
            {% endif %}
        </td>
        {% endif %}
    </tr>
{% endfor %}
</table>


{% endblock %}
